<!DOCTYPE html>

<head>
  <title>Grafik Pengeluaran dan Pendapatan</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script type="text/javascript" src="https://www.chartjs.org/dist/2.9.3/Chart.min.js">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</head>

<body>
  <canvas id="myCanvas" width="1280" height="600">Your browser does not support the canvas feature.</canvas>
  <script type="text/javascript">
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");

    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [<%= id %>],
        datasets: [{
          label: 'Jumlah Uang',
          data: [<%= amount %>],
          backgroundColor: "rgb(100, 100, 100)"
        }]
      },
      options: {
        responsive: false,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Grafik Pengeluaran dan Pendapatan'
        }
      }
    });
  </script>
  <a style="position: absolute; right: 2rem; bottom: 2rem;" class="btn btn-dark menuButton" href="/menu">Menu</a>
</body>

</html>