<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Acme|Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/style.css">

  <title>Home</title>
</head>

<body>
  <%- include('../partials/header') %>

  <div class="card text-center bg-dark iniform" style="width: 75vh;">
    <div class="card-header">
      <h3>Halo, <%= user.username %><br>
        Sisa uang kamu : Rp
        <%= new Intl.NumberFormat('id-ID', { currency: 'IDR' }).format(money.totalMoney) %></h3>
    </div>
    <div class="card-body">
      <a class="btn btn-primary menuButton" href="/rupiahku/manage/add-income">Tambah Pemasukkan</a>
      <a class="btn btn-warning menuButton" href="/rupiahku/manage/add-expense">Tambah Pengeluaran</a>
      <a class="btn btn-success menuButton" href="/rupiahku/manage/report">Lihat Laporan</a>
      <a class="btn btn-info menuButton" href="/rupiahku/chart">Lihat Grafik</a>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
  <%- include('../partials/footer') %>
</body>

</html>