<form action="/login" method="post">
  <div class="form-row">
    <div class="form-group col-md-12"></div>
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" id="username" placeholder="username">
  </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="password">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>